@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
      This website makes use of several third party components. Validation
      and conversion are possible due to <a href="http://sbml.org/Software/libSBML">
      LibSBML</a>, a library for manipulating SBML documents. Solving the 
      constraints is achived via the <a href="http://fbergmann.github.com/FluxBalance/">
      FluxBalance github project</a>, which in turn uses 
      <a href="http://lpsolve.sourceforge.net/">LPsolve</a> as open source 
      solver for linear programs. 
    </p>
</article>
