@{
    ViewBag.Title = "Flux Balance";
}

<ol class="round">
    <li class="one">
        <h5>Select your Model</h5>
      This website allows you to display all Flux Balance Constraints in the 
      uploaded model, to validate the document, or to convert between the common
      COBRA SBML annotation and the official SBML Level 3 package for Flux Balance 
      Constraints.      
    </li>

    <li class="two">
        <h5>Display the Model</h5>        
    </li>

    <li class="three">
        <h5>Convert The Model</h5>        
    </li>
</ol>
